<div class="container">
  <h2>New Post</h2>
    <form action="/post/new" method="post">
      <input type="text" name="post[title]" placeholder="Title">
      <br>
      <textarea type="text" name="post[body]" placeholder="Content"></textarea>
      <br>
      <input type="submit">
  </form>
 <a href="/">See all Posts</a>
</div>

